svg {}

path, line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

path.link.dragline {
  pointer-events: none;
  stroke-dasharray: 20,
}

path.link.hidden {
  stroke-width: 0;
}

text {
  /*font: 12px sans-serif;*/
  font-size: 1em;
  pointer-events: none;
  z-index: 2;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

.container {
  stroke-width: 1.5px;
  cursor: pointer;
  z-index: 100;
}